<!-- your html code here -->
<div class="first_heading my-0 ">
    <div class="card border-0 border-light">
        <div class="card-body col-8 mx-auto py-5">
            <div class="row">
                <div class="col-10">
                    <h1 class="card-title">The First Heading <span class="text-secondary"> Will Catch Your Eye.</span>
                    </h1>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Delectus, esse eius totam qui repudiandae dolores laboriosam cumque excepturi
                        reiciendis vero perferendis pariatur repellendus deserunt sit numquam odit dolor.
                        Blanditiis, illo..</p>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <img src="./assets/img/1.jpg" class="rounded-circle" width="300" alt=" walter white">
                </div>
            </div>
        </div>
    </div>
</div>